.hero__container {
  min-height: 100vh;

  max-width: 1280px;
  margin: 0 auto;

  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #37C1D3;
}

.hero__container p {
  font-size: 2rem;
  color: #445964;
}

.hero__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.hero__title {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #1A4A67;
}

.hero__img_container {
  flex-grow: 1;
  margin-top: 2rem;
}

.hero__icons {
  display: flex;
  gap: 3rem;
}

.hero__icon {
  width: 3rem;

  transition: .2s;
}

.hero__icon:hover {
  transform: scale(1.1);
}

@media (max-width: 720px) {
  .hero__container {
    flex-direction: column;
    padding-top: 6rem;
  }

  .hero__info {
    gap: 2rem;
  }

  .hero__icons {
    justify-content: center;
  }

  .hero__icon {
    width: 2rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__container h2 {
    font-size: 2rem;
  }

  .hero__container p {
    font-size: 1.5rem;
  }

  .hero__img_container {
    margin-top: 0;
  }
}
