.hero__container {
  min-height: 100vh;

  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10rem;

  background-color: #0e0d0e;
}

.hero__container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #bb2b9c;
}

.hero__container p {
  color: #c6c6c6;
}

.hero__title {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: bold;
  
}

.hero__img_container {
  /* background-color: #bb2b9c; */
  border-radius: 50%;
  /* background: #bb2b9c; */
}

