.hero__container {
  min-height: 100vh;

  max-width: 1280px;
  margin: 0 auto;

  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #37C1D3;
}

.hero__container p {
  font-size: 2rem;
  color: #445964;
}

.hero__info {
  flex-grow: 1;
}

.hero__title {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #1A4A67;
}

.hero__img_container {
  flex-grow: 1;
  margin-top: 2rem;
}

