@import url('./hero/hero.css');
@import url('./navbar/navbar.css');
@import url('./about/about.css');
@import url('./skills/skills.css');
@import url('./projects/projects.css');
@import url('./contact/contact.css');
@import url('./footer/footer.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
