.navbar__container {
  width: 100%;
  padding: 1rem 5rem;

  position: absolute;
  top: 0;

  background-color: #1A4A67;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__nav {
  max-width: 1280px;
  width: 100%;

  display: flex;
  justify-content: space-between;

}

.navbar__logo {
  display: flex;
  gap: .25rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__name {
  color: white;
}

.navbar__brackets {
  color: #37C1D3;
}

.navbar__group {
  font-size: 1.2rem;
  
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.navbar__item {
  text-decoration: none;
  color: white;
}

@media (max-width: 720px) {
  .navbar__container {
    padding: 1rem;
  }

  .navbar__logo {
    font-size: 1rem;
  }

  .navbar__group {
    display: none;
  }
}

