.contact__container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__content {
  max-width: 1280px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.contact__hero {
  flex-grow: 1;
}

.contact__title {
  font-size: 4rem;
  color: #445964;
}

.contact__title span {
  color: #37C1D3;
}

.contact__subtitle {
  font-size: 3rem;
  color: #445964;
}

.contact__form_container {
  color: #445964;
  background-color: #1A4A67;
  height: fit-content;
  
  padding: 2rem;
  
  border-radius: 10px;
  
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__form_group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.contact__form_group label {
  font-size: 1.25rem;
  color: white;
}

.contact__form_group input,
.contact__form_group textarea {
  font-size: 1.2rem;
  color: #445964;

  padding: .25rem 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}

.contact__form_group textarea {
  resize: none;
}

@media (max-width: 720px) {
  .contact__content {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
  }

  .contact__title {
    font-size: 3rem;
  }

  .contact__subtitle {
    font-size: 2rem;
  }

  .contact__form_container {
    padding: 1rem;
  }
}
