.about__container {
  background-color: #f1f1fa;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-content: center;
}

.about__content {
  max-width: 1280px;
  width: 100%;

  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5rem;
}

.about__info {
  font-size: 1.5rem;
  line-height: 1.8;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
}

.about__title {
  font-size: 4rem;
  color: #445964;
}

.about__title span {
  color: #37C1D3;
}

.about__me {
  color: #445964;
}

.about__img {
  flex-grow: 1;
}

@media (max-width: 720px) {
  .about__content {
    flex-direction: column;
    padding: 2rem;
    order: 2;
    gap: 3rem;
  }

  .about__img {
    order: 1;
  }

  .about__info {
    order: 0;

    gap: 0rem;
  }

  .about__title  {
    font-size: 3.5rem;
  }

  .about__me {
    font-size: 1rem;
  }

  .about__img {
    width: 70%;
    margin: 0 auto;
  }
}
